@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top: 16px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img style="max-width: 980px;" src="~/images/contoso-u.jpg" />
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is place where you can start your education on the right path.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build your education from scratch</h2>
        <p>You can build your own degree! With the help of our councilors, helps us help you gain the knowledge you want.</p>
        <p><a class="btn btn-default" href="#">See what others have done &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find out more</h2>
        <p>You can download a free broucher here</p>
        <p><a class="btn btn-default" href="#">Get a broucher &raquo;</a></p>
    </div>
</div>